@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  background: #f7faf9;
  color: #17202a;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
